<% if peek_enabled? %>
<div id="peek" class="<%= Peek.env %><%= ' disabled' if session[:peek] == false %>" data-request-id="<%= Peek.request_id %>">
  <div class="wrapper">
    <% Peek.views.each do |view| %>
      <div id="<%= view.dom_id %>" class="view">
        <%= render view.partial_path, :view => view %>
      </div>
    <% end %>
    <div class="view">
      <strong><%= Rails.env %></strong> environment
    </div>
    <div class="view align-right">
      <%= link_to "Close", peek.hide_path, id: "peek-hide-link" %>
    </div>
  </div>
</div>
<% end %>
